<header>
  <app-menu></app-menu>
</header>
<section class="mt-5 pt-5">
  <div class="card-columns">
    <div *ngFor="let showItem of showsList">
      <app-card [showToCard]="showItem" (click)="getDataShow(showItem)"></app-card>
    </div>
  </div>

  <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body p-0">
          <app-card-detail [showDetailSel]="showDetailSelected"></app-card-detail>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>